@model IEnumerable<MvcModal.Models.User>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts{

}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create", new { @class = "createDialog", data_toggle="modal", data_target="#myModal"})
</p>

<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
    Launch demo modal
</button>

@Html.Partial("_List", Model)
@Html.Partial("_CreateModal")